src/main/mule/projectcicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7c8e2fec-8db4-4eb2-8ed0-f9e0abbebaf7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="30aba21a-eb7b-4b29-bc48-f70549a6ab92" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="projectcicdFlow" doc:id="c40bb007-0165-493d-98be-1e06e2bc253f" >
		<http:listener doc:name="Listener" doc:id="1903d79e-77d2-403b-994c-b8bf5c6e0392" config-ref="HTTP_Listener_config1" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="8b0a4155-07fd-4cd9-a74e-60a8bc4b0760" message="#[payload]"/>
		<set-payload value="added payload" doc:name="Set Payload" doc:id="3ab7efcf-6978-4254-9579-5cc7cfc62bff" />
		<logger level="INFO" doc:name="Logger" doc:id="dd7c6d6d-82da-4b26-8dbd-1591e159daad" />
	</flow>
</mule>
